@page "/Investors"
<h1>Investors Index</h1>

<h3><a href="/Investors/Investors">See all investors</a></h3>
<ul>
  <li><a href="/Investors/Details/jim">Jim</a></li>
  <li><a href="/Investors/Details/john">John</a></li>
</ul>