@page "/Investors/Investors"
<h3>Investors list</h3>

<ul>
  <li><a href="/Investors/InvestorDetails/jim">Jim</a></li>
  <li><a href="/Investors/InvestorDetails/john">John</a></li>
</ul>

<p><a href="/Investors">Investors list</a></p>